# Configs
.vscode
.idea

# Build
!build/.gitkeep
build
build/*

# Bins
r-type_client
r-type_server

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
